fastapi>=0.68.0
uvicorn>=0.15.0
pydantic>=1.8.0
pyarrow==14.0.2
dependency-injector==4.45.0
aiohttp>=3.8.0
typeguard>=4.4.0
requests>=2.25.0
aioredis>=2.0.0
ddtrace==1.15.1
numpy==1.26.4
{%- if cookiecutter.repository_inference_type in ['online', 'both'] %}
mlflow==2.12.2
{%- endif %}
loguru>=0.7.0
python-multipart>=0.0.5
{%- if cookiecutter.runtime_environment is not string %}
{%- for dependency in cookiecutter.runtime_environment.dependencies %}
{{ dependency }}
{%- endfor %}
{%- endif %}